/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

body {
  line-height: 1;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

*, *::after, *::before {
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: "Roboto", sans-serif;
}

a {
  text-decoration: none;
  color: inherit;
}

.container {
  width: 100%;
  padding: 0 20px;
}
@media screen and (min-width: 680px) {
  .container {
    width: 600px;
    margin: 0 auto;
  }
}
@media screen and (min-width: 1100px) {
  .container {
    width: 1000px;
  }
}

.row {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}
@media screen and (min-width: 680px) {
  .row {
    flex-direction: row;
  }
}

.col {
  width: 100%;
}
@media screen and (min-width: 680px) {
  .col-md50 {
    flex: 0 0 50%;
    padding: 10px;
  }
}
@media screen and (min-width: 1100px) {
  .col-lg25 {
    flex: 0 0 25%;
  }
}

@keyframes show-menu-action {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@keyframes hide-menu-action {
  from {
    display: block;
  }
  to {
    opacity: 0;
    display: none;
  }
}
nav {
  display: flex;
  align-items: center;
  position: fixed;
  width: 100%;
  z-index: 2;
  background-color: #730217;
  color: #f5f5f5;
}

.logo {
  flex-basis: 70%;
  padding: 15px;
  padding-left: 25px;
  font-size: 1.7rem;
  cursor: pointer;
}

.menu {
  text-align: right;
  flex-basis: 30%;
  padding: 15px;
  padding-right: 25px;
}

nav .material-icons {
  color: inherit;
  font-size: 3rem;
  cursor: pointer;
}

.navigation {
  display: none;
  position: fixed;
  top: 0;
  right: 0;
  height: 100vh;
  width: 100%;
  z-index: 2;
  background-color: #0D0D0D;
  animation: hide-menu-action 0.5s;
  color: #f5f5f5;
}
@media screen and (min-width: 680px) {
  .navigation {
    width: 50%;
  }
}
@media screen and (min-width: 1100px) {
  .navigation {
    width: 25%;
  }
}
.navigation .material-icons {
  color: #f5f5f5;
  font-size: 3rem;
  cursor: pointer;
  position: absolute;
  right: 20px;
  top: 10px;
}
.navigation ul {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.navigation li {
  flex-basis: 10%;
  width: 100%;
}
.navigation a {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  transition-duration: 0.4s;
  font-size: 1.4rem;
}
.navigation a:hover {
  background-color: rgba(166, 115, 96, 0.6431372549);
}

.showMenu {
  display: block;
  animation: show-menu-action 0.5s;
}

@keyframes show-header-box {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
header {
  height: 100vh;
  background: url("../assets/img/bg-header.webp") center/cover fixed;
  color: #fff;
  display: flex;
  align-items: center;
}
header .header-box {
  z-index: 1;
  display: flex;
  flex-direction: column;
  padding: 40px;
  animation: show-header-box 3s;
}
header h1 {
  font-size: 2.6rem;
  margin-bottom: 30px;
  line-height: 3.3rem;
  z-index: 1;
}
@media screen and (min-width: 680px) {
  header h1 {
    font-size: 4rem;
    line-height: 4.5rem;
  }
}
@media screen and (min-width: 1100px) {
  header h1 {
    font-size: 6rem;
    line-height: 6.7rem;
  }
}
header p {
  margin-bottom: 40px;
  width: 90%;
  line-height: 2rem;
  font-size: 1.4rem;
}
@media screen and (min-width: 680px) {
  header p {
    width: 70%;
    font-size: 1.5rem;
  }
}
@media screen and (min-width: 1100px) {
  header p {
    width: 50%;
    font-size: 1.7rem;
  }
}
header a {
  height: 60px;
  width: 200px;
  line-height: 60px;
  text-decoration: none;
  text-align: center;
  background-color: rgba(166, 115, 96, 0.6431372549);
  color: inherit;
  border-radius: 6px;
  font-weight: bold;
  font-size: 110%;
  transition: 0.5s;
}
header a:hover {
  background-color: #A67360;
  color: inherit;
  transform: translateX(10px);
  scale: 1.1;
}
header::after {
  content: "";
  display: block;
  background-color: rgba(0, 0, 0, 0.521);
  width: 100%;
  height: 100vh;
  position: absolute;
}

section {
  min-height: 100vh;
  padding-top: 120px;
}
section h2 {
  text-align: center;
  font-size: 2.8rem;
  margin-bottom: 30px;
}
section p {
  margin-bottom: 20px;
  line-height: 1.4rem;
}

/*# sourceMappingURL=style.css.map */
