%properties{
    display: block;
    margin-bottom: 5px;
    width: 100%;
    font-size: 1.4rem;
}
label{
    @extend %properties;
}
input{
    @extend %properties;
    font-family: inherit;
    padding: 10px;
    border: 1px solid lightgray;
    border-radius: 4px;
    outline: 0;
    transition: .2s;
    &:focus{
        border-color: grey;
    }
    &[type="submit"]{
        margin-top: 30px;
        &:hover{
            background-color: lightgray;
            cursor: pointer;
        }
    }
}
textarea{
    @extend input;
    resize: none;
    height: 150px;
}